<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://kit.fontawesome.com/a13b999530.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/main.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/static/css/nev_bar_style.css" />
  <!-- <link rel="stylesheet" href="/static/css/mainvishal.css" /> -->
  <link rel="stylesheet" href="/static/css/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/static/images/logo_main.png" />
  <title>Home</title>
</head>

<body>

  <%- include('header.html') %>

    <div id="searchbox">
      <input id="home_search" type="text" placeholder="What are you looking for?" />
      <button id="searchIcon">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <div id="slider">
      <div class="slide">
        <button id="button1">
          << /button>
      </div>
      <div id="button2" class="slide">
        <button id="btn2">></button>
      </div>
    </div>

    <div id="dot"></div>
    <script src="/static/js/nev_bar.js"></script>

    <div class="container-fluid section">

    </div>

    <!-- Feature Start -->
    <div class="container-xxl py-5 text-center">
      <h3 class="pb-2">Get ahead with WeInterns</h3>

      <p>"Shape Your Future with Industry-Leading Certification Courses and Internships!"</p>
      <div class="container">
        <div class="row g-5">
          <!-- Feature 1 -->
          <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                <i class="fa fa-search fa-2x text-primary"></i>
              </div>
              <h1 class="display-1 text-light mb-0">01</h1>
            </div>
            <h5>Find Internships</h5>
          </div>
          <!-- Feature 2 -->
          <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                <i class="fa fa-laptop-code fa-2x text-primary"></i>
              </div>
              <h1 class="display-1 text-light mb-0">02</h1>
            </div>
            <h5>Upgrade Your Skills</h5>
          </div>
          <!-- Feature 3 -->
          <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                <i class="fa fa-check-square fa-2x text-primary"></i>
              </div>
              <h1 class="display-1 text-light mb-0">03</h1>
            </div>
            <h5>Get Certificate</h5>
          </div>
          <!-- Feature 4 -->
          <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                <i class="fa fa-briefcase fa-2x text-primary"></i>
              </div>
              <h1 class="display-1 text-light mb-0">04</h1>
            </div>
            <h5>Get our Dream Job</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Feature End -->

    <!-- About Start -->
    <div id="for_students" class="container-fluid bg-light overflow-hidden px-lg-0">
      <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
          <!-- Image Section -->
          <div class="col-lg-6 ps-lg-0" style="min-height: 300px;">
            <div class="position-relative h-100">
              <img class="position-absolute img-fluid h-100" src="/static/images/for_students.avif"
                style="object-fit: cover;" alt="About IT Company">
            </div>
          </div>
          <!-- Text Section -->
          <div class="col-lg-6 about-text wow fadeIn" data-wow-delay="0.5s">
            <div class="p-lg-5 pe-lg-0">
              <div class="section-title text-start">
                <h1 class="display-5 mb-4"><i class="fa fa-graduation-cap theme-color" aria-hidden="true"></i>For
                  Students</h1>
              </div>
              <h3 class="mb-4">Empower Your Career with Tailored Programs for Students"</h3>
              <p class="text-justify">Join thousands of students who have kickstarted their careers with our <strong>
                  expert-guided programs</strong> . Your
                future starts here!</p>
              <ul class="text-justify">
                <li>
                  Explore certification courses designed to enhance your skills and make you job-ready.
                </li>
                <li> Unlock a world of opportunities with <strong>placement guarantee programs</strong> , offering
                  salaries up to ₹5
                  LPA.
                </li>
                <li>
                  Choose from a wide range of internships with flexible options like <strong> work-from-home</strong>
                  and competitive
                  stipends.
                </li>
                <li>
                  Gain hands-on experience in fields like <strong> software development, gaming, and more</strong> .
                </li>
              </ul>
              <button class="btn btn-tomato">Explore</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- why choose us Start -->
    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
      <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
          <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
            <div class="p-lg-5 ps-lg-0">
              <div class="section-title text-start">
                <h1 class="display-5 mb-4"> <i class="fa fa-university theme-color" aria-hidden="true"></i>
                  For Institutes</h1>
              </div>
              <h3 class="mb-4">Partner with Us to Shape the Future Workforce</h3>
              <p class="text-justify">
                Are you an institute dedicated to nurturing talent? Collaborate with us to bridge the gap between
                students and real-world opportunities.
              </p>
              <ul>
                <li class="mb-2">Leverage our platform to offer <strong>internships</strong> and industry exposure to
                  your students, ensuring they gain hands-on experience.</li>
                <li class="mb-2">Connect with top organizations looking for skilled interns in fields like
                  <strong>technology, marketing, design, and more</strong>.
                </li>
                <li class="mb-2">Enhance your institute's reputation by producing <strong>industry-ready
                    professionals</strong> and building meaningful partnerships with leading companies.</li>
                <li>Together, let’s empower the next generation of leaders and innovators.</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
            <div class="position-relative h-100">
              <img class="position-absolute img-fluid h-100" src="/static/images/for_institute.avif"
                style="object-fit: cover;" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- why choose us End -->

    <!-- ----------------- Footer ------------------------- -->

    <div id="footer" class="generic_footer pt-3">
      <div class="max-width-container">
        <div class="footer_container">

          <!-- footer coloumn -1  -->
          <div class="footer_coloumn">
            <div class="footer_list">
              <h4>Internships by Stream</h4>
              <div class="footer_list_item">
                <a href="#">Computer Science Internship</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Electronics Internship</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Marketing Internship</a>
              </div>
            </div>
          </div>
          <!-- footer coloumn -2 -->
          <div class="footer_coloumn">
            <div class="footer_list">
              <h4>
                Online Trainings
                <span class="orange"> <a href="#">OFFER</a></span>
              </h4>
              <div class="footer_list_item">
                <a href="#">Data Science</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Programming with python</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Digital Marketing</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Web Development</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Machine Learning</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Advance Excel</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Ethical Hacking</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Creative Writing</a>
              </div>
            </div>
          </div>
          <!-- footer coloumn -3 -->
          <div class="footer_coloumn">
            <div class="footer_list">
              <h4>About WeInterns</h4>
              <div class="footer_list_item">
                <a href="#">About Us</a>
              </div>
              <div class="footer_list_item">
                <a href="for_students.ejs">For Students</a>
              </div>
              <div class="footer_list_item">
                <a href="#">For Institutes</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Careers</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Blog</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Our Services</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Terms and Conditions</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Privacy</a>
              </div>
            </div>
          </div>
        </div>

        <!-- footer bottom -->
        <br />
        <div id="footer_bottom">
          <!-- Android app button -->
          <!-- <div id="android_app_container" class="footer_list_item">
            <a href="#">
              <i class="fab fa-google-play"> <span>Get Android App</span></i>
            </a>
          </div> -->
          <!-- Social media Icons -->
          <div id="social_media_container">
            <span>
              <a href="#"> <i class="fab fa-instagram footer_icons"></i></a>
              <a href="#"><i class="fab fa-twitter footer_icons"></i></a>
              <a href="#"><i class="fab fa-youtube footer_icons"></i></a>
              <a href="#"><i class="fab fa-linkedin-in footer_icons"></i></a>
            </span>
          </div>

          <div id="copyright">
            <span>© Copyright WeInterns</span>
          </div>
        </div>
      </div>
    </div>
</body>


<script src="/static/js/search.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</html>